@use 'base/variables' as v;

.dark {
    background-color: darken($color: v.$colorDarkGray, $amount: 5);

    p {
        color: v.$colorWhite;
    }

    a,
    h1,
    h2,
    h3,
    h4,
    td,
    blockquote {
        color: v.$colorGray;
    }

    .for-sale {
        background-color: v.$colorDarkGray;
        border: 1px solid v.$colorDarkGray;

        .price {
            color: v.$colorGreen;
        }

        .icon {
            filter: invert(100%);
        }
    }

    .property-details {
        .for-sale-price {
            color: v.$colorGreen;
        }

        .icon {
            filter: invert(100%);
        }
    }

    .form {

        label,
        legend,
        p {
            color: v.$colorWhite;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: v.$colorDarkGray;
            border: 1px solid v.$colorDarkGray;
            color: v.$colorWhite;
        }

    }
}