@use 'base/variables' as v;

.alert {
    padding: .5rem;
    text-align: center;
    color: v.$colorWhite;
    font-weight: v.$weightBold;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 1rem;

    &.error {
        background-color: v.$colorRed;
    }

    &.successful {
        background-color: v.$colorGreen;
    }
}

table.properties {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: v.$colorGreen;

        th {
            color: v.$colorWhite;
            padding: 2rem;
        }
    }

    tbody {
        td {
            text-align: center;
        }

        img {
            margin: auto;
            display: block;
        }

        form {
            margin-bottom: 1rem;
        }
    }

    .table-image {
        width: 10rem;
    }

}

.small-image {
    width: 20rem;
    padding-bottom: 2rem;
}