@use 'base/variables' as v;
@use 'base/mixins' as m;

.for-sale-section {
    h2 {
        font-weight: v.$weightBold
    }
}

@include m.mediaQuery(v.$tablet) {
    .for-sale-container {
        @include m.grid(2, 2rem);
    }
}

@include m.mediaQuery(v.$desktop) {
    .for-sale-container {
        @include m.grid(3, 2rem);
    }
}

.for-sale {
    background-color: lighten($color: v.$colorGray, $amount: 5);
    border: 1px solid darken($color: v.$colorGray, $amount: 10);
    border-radius: 10px;
    margin-bottom: 2rem;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .for-sale-content {
        padding: 2rem;
    }

    h3,
    p {
        margin: 0;
    }

    .for-sale-description{
        width: 25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.show-all {
    a {
        width: 100%;
    }

    @include m.mediaQuery(v.$tablet) {
        a {
            width: auto;
        }
    }
}

.for-sale-price {
    color: v.$colorGreen;
    font-weight: v.$weightBold;
    font-size: 3rem;
}

.icons-info {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
        flex: 1;
        display: flex;
        justify-content: center;

        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }

        p {
            font-weight: v.$weightBlack;
        }
    }

    &.detailed {
        max-width: 40rem;
        li {
            justify-content: flex-start;
        }
    }
}